{% extends 'userNavbar.html' %}
{% block main  %}
{% load static %}

<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i> Application History</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/userDashboard">Home</a></li>
                <li><i class="fa fa-table"></i>Application</li>
                <li><i class="fa fa-th-list"></i>Application History</li>
            </ol>
        </div>
    </div>
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    View Application History
                </header>

                <table class="table table-striped table-advance table-hover">
                    <tbody>
                    <tr>
                        <th>#</th>
                        <th><i class="icon_document_alt"></i> Application No.</th>
                        <th><i class="icon_profile"></i> Full Name</th>
                        <th><i class="icon_mobile"></i> Mobile No.</th>
                        <th><i class="icon_document_alt"></i> Pan No.</th>
                        <th><i class="icon_document_alt"></i> Status</th>
                        <th><i class="icon_cogs"></i> Action</th>
                    </tr>

                    {% for i in application %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.ApplicationNumber}}</td>
                        <td>{{i.signup.user.first_name}} {{i.signup.user.last_name}}</td>
                        <td>{{i.signup.MobileNumber}}</td>
                        <td>{{i.PanNumber}}</td>
                        {% if i.Status == None %}
                            <td>Not Responded Yet</td>
                        {% else %}
                            <td>{{i.Status}}</td>
                        {% endif %}
                       <td>
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'viewloanRequestDetails' i.id %}"><i class="fa fa-eye"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    <!-- page end-->
</section>

{% endblock %}