{% extends 'userNavbar.html' %}
{% block main  %}
{% load static %}

<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i> Change Password</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/userDashboard">Home</a></li>
                <li><i class="fa fa-th-list"></i>Change Password</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Change Password
                </header>

                <div class="panel-body">
                    <div class="form">
                        <form method="post" class="form-validate form-horizontal" name="changepassword" onsubmit="return checkpassword()">
                        {% csrf_token %}

                            <div class="form-group ">
                                <label class="control-label col-lg-2">Current Password <span
                                        class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input type="password" name="oldpassword" placeholder="Current Password"
                                           class="form-control" required/>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="control-label col-lg-2">New Password <span
                                        class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input type="password" name="newpassword" placeholder="New Password"
                                           class="form-control" required/>
                                </div>
                            </div>

                            <div class="form-group ">
                                <label class="control-label col-lg-2">Repeat Password <span
                                        class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input type="password" name="confirmpassword" placeholder="Repeat Password"
                                           class="form-control" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<script>
    function checkpassword(){
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value){
    alert('New Password and Confirm Password field does not Match');
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }
</script>

{% if error == "no" %}
<script>
    alert('Password updated successfully');
    window.location=('{% url 'logout' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong , try again later');
</script>
{% endif %}

{% if error == "not" %}
<script>
    alert('Your current password is wrong');
</script>
{% endif %}

{% endblock %}