{% extends 'userNavbar.html' %}
{% block main  %}
{% load static %}

<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-table"></i> View Application History</h3>
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="/userDashboard">Home</a></li>
                <li><i class="fa fa-table"></i>Application</li>
                <li><i class="fa fa-th-list"></i>Application History</li>
                <li><i class="fa fa-th-list"></i>View Application History</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <!-- profile-widget -->
        <div class="col-lg-12">
            <div class="profile-widget profile-widget-info">
                <div class="panel-body">
                    <div class="col-lg-2 col-sm-2">
                        <div class="follow-ava">
                            <img src="{{application.ProfilePic.url}}" width="100" height="100" alt="">
                        </div>
                        <h4>{{application.signup.user.first_name}} {{application.signup.user.last_name}}</h4>
                    </div>
                    <div class="col-lg-4 col-sm-4 follow-info">
                        <p>Application Number : {{application.ApplicationNumber}}</p>
                        <p>Email Id : {{application.signup.user.username}}</p>
                        <h6>
                            <span><i class="icon_pin_alt"></i> {{application.Address}}</span>
                            <span><i class="icon_calendar"></i> {{application.SubmitDate}}</span>
                        </h6>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- profile -->
    <div id="profile" class="tab-pane">
        <section class="panel">
            <div class="panel-body bio-graph-info">

                <h1 class="text-center text-danger">Loan Request Details</h1>
                <br>
                <div class="row">
                    <div class="bio-row">
                        <p><span>Name </span>: {{application.signup.user.first_name}}
                            {{application.signup.user.last_name}} </p>
                    </div>
                    <div class="bio-row">
                        <p><span>Mobile Number </span>: {{application.signup.MobileNumber}}</p>
                    </div>

                    <div class="bio-row">
                        <p><span>Service Type </span>: {{application.ServiceType}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Pan No. </span>: {{application.PanNumber}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Copy of Pan Card </span>: {{application.PanCardCopy}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Address </span>: {{application.Address}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Address Proof Doc </span>: {{application.AddressProofType}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Type of Address Proof </span>: {{application.AddressDoc}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Monthly Income </span>: {{application.MontlyIncome}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Existing Loan </span>: {{application.ExistingLoan}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Expected Loan Amount </span>: {{application.ExpectedLoanAmount}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Expected Tenure </span>: {{application.Tenure}}</p>
                    </div>

                    <div class="bio-row">
                        <p><span>Date of Application </span>: {{application.SubmitDate}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Disbursed Loan Amount	 </span>: {{application.LoanamountDisbursed}}</p>
                    </div>
                    {% if application.Status == "Approved" %}
                    <div class="bio-row">
                        <p><span>Final Status </span>: Your request has been approved</p>
                    </div>
                    {% elif application.Status == "Rejected" %}
                    <div class="bio-row">
                        <p><span>Final Status </span>: Your request has been rejected</p>
                    </div>
                    {% else %}
                    <div class="bio-row">
                        <p><span>Final Status </span>: Not Updated Yet</p>
                    </div>
                    {% endif %}

                    {% if application.Remark == None %}
                    <div class="bio-row">
                        <p><span>Admin Remark </span>: Not Updated Yet</p>
                    </div>
                    {% else %}
                    <div class="bio-row">
                        <p><span>Admin Remark </span>: {{application.Remark}}</p>
                    </div>
                    {% endif %}
                </div>

                <br>
                <h1 class="text-center text-danger">Guarantor Details</h1>
                <div class="row">
                    <div class="bio-row">
                        <p><span>Guarantor Name </span>: {{application.GName}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Guarantor Mobile Number </span>: {{application.Gmobnum}}</p>
                    </div>

                    <div class="bio-row">
                        <p><span>Guarantor Email </span>: {{application.Gemail}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Guarantor Address </span>: {{application.Gaddress}}</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="row">
            </div>
        </section>
    </div>
    <!-- edit-profile -->

    <div id="profile" class="tab-pane">
        <section class="panel">
            <div class="panel-body bio-graph-info">

                <h1 class="text-center text-danger">Disburesed Amount Details</h1>
                <br>
                {% if application.Status == "Disbursed" %}
                <div class="row">

                    <div class="bio-row">
                        <p><span>Amount of Loan Disbursed </span>: {{application.LoanamountDisbursed}}</p>
                    </div>

                    <div class="bio-row">
                        <p><span>Date of Dibursement </span>: {{application.UpdationDate}}</p>
                    </div>

                    <div class="bio-row">
                        <p><span>Disbursement Tenure </span>: {{application.DTenure}} Years</p>
                    </div>

                    <div class="bio-row">
                        <p><span>Rate of Interest </span>: {{application.RateofInterest}} %</p>
                    </div>

                    <div class="bio-row">
                        <p><span>Total interest </span>: {{simpleinterst}}</p>
                    </div>

                    <div class="bio-row">
                        <p><span>Total Payable Amount<br/> Principle + Interest </span>: {{totalpayable}}</p>
                    </div>

                    <div class="bio-row">
                        <p><span>Monthly EMI </span>: {{monthlyEmi}}</p>
                    </div>

                    <div class="bio-row">
                        <p><span>Total EMI Installments </span>: {{time}}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <section>
            <div class="row">
            </div>
        </section>
    </div>
    <!-- edit-profile -->

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                {% if reportcount != 0 %}
                <h3 class="text-center text-danger">Tracking History</h3>
                <table class="table table-striped table-advance table-hover">
                    <tbody>
                    <tr>
                        <th><i class="icon_document_alt"></i> Remark</th>
                        <th><i class="icon_profile"></i> Status</th>
                        <th><i class="icon_calendar"></i> Time</th>
                    </tr>
                    {% for i in appreport %}
                    <tr>
                        <td>{{i.Remark}}</td>
                        <td>{{i.Status}}</td>
                        <td>{{i.UpdationDate}}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                {% endif %}

            </section>
        </div>
    </div>
    <br><br>

</section>
{% endblock %}