{% load static %}
{% load custom_tag %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Home Loan Management System</title>

    <!-- Bootstrap CSS -->
    <link href="{% static 'css1/bootstrap.min.css' %}" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="{% static 'css1/bootstrap-theme.css' %}" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="{% static 'css1/elegant-icons-style.css' %}" rel="stylesheet"/>
    <link href="{% static 'css1/font-awesome.min.css' %}" rel="stylesheet"/>
    <!-- full calendar css-->
    <link href="{% static 'assets1/fullcalendar/fullcalendar/bootstrap-fullcalendar.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets1/fullcalendar/fullcalendar/fullcalendar.css' %}" rel="stylesheet"/>
    <!-- easy pie chart-->
    <link href="{% static 'assets1/jquery-easy-pie-chart/jquery.easy-pie-chart.css' %}" rel="stylesheet" type="text/css"
          media="screen"/>
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'css1/owl.carousel.css' %}" type="text/css">
    <link href="{% static 'css1/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css1/fullcalendar.css' %}">
    <link href="{% static 'css1/widgets.css' %}" rel="stylesheet">
    <link href="{% static 'css1/style.css' %}" rel="stylesheet">
    <link href="{% static 'css1/style-responsive.css' %}" rel="stylesheet"/>
    <link href="{% static 'css1/xcharts.min.css' %}" rel=" stylesheet">
    <link href="{% static 'css1/jquery-ui-1.10.4.min.css' %}" rel="stylesheet">
</head>

<body>
<!-- container section start -->
<section id="container" class="">

    <header class="header dark-bg">
        <div class="toggle-nav">
            <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i
                    class="icon_menu"></i></div>
        </div>

        <!--logo start-->
        <a href="index.html" class="logo">Home <span class="lite">Loan</span></a>
        <!--logo end-->


        <div class="top-nav notification-row">
            <!-- notificatoin dropdown start-->
            <ul class="nav pull-right top-menu">

                <!-- alert notification start-->
                <li id="alert_notificatoin_bar" class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <i class="icon-bell-l"></i>
                        <span class="badge bg-important">{% notificationcount %}</span>
                    </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-blue"></div>
                        <li>
                            <p class="blue">You have {% notificationcount %} new notifications</p>
                        </li>
                        <li>
                            {% for i in ""|notification %}

                        <a href="{% url 'adminViewloanReqDetails' i.id %}">
                            <span class="label label-primary"><i class="icon_profile"></i></span>
                            {{i.signup.user.first_name}} {{i.signup.user.last_name}} <span class="text-muted">
                                        <em>{{i.SubmitDate}}</em>
                                    </span>
                        </a>
                            {% empty %}
                        <li style="text-align : center">No Records Found</li>
                        {% endfor %}
                        </li>

                        <li>
                            <a href="{% url 'newLoan_req' %}">See all notifications</a>
                        </li>
                    </ul>
                </li>
                <!-- alert notification end-->
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" width="35"; height="35"; src="{% static 'img/t4.jpg' %}">
                            </span>
                        <span class="username">Admin</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li class="eborder-top">
                            <a href="/adminChangePassword"><i class="icon_profile"></i> Change Password</a>
                        </li>
                        <li>
                            <a href="/logout"><i class="icon_key_alt"></i> Logout</a>
                        </li>

                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!-- notificatoin dropdown end-->
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu">
                <li class="active">
                    <a class="" href="/dashboard">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon_document_alt"></i>
                        <span>Loan Request</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/newLoan_req">New Loan</a></li>
                        <li><a class="" href="/allLoan_req">All Loan</a></li>
                        <li><a class="" href="/rejectLoan_req">Reject Loan</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon_desktop"></i>
                        <span>Disbursed Req</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/newRequest">New Request</a></li>
                        <li><a class="" href="/completeRequest">Complete Request</a></li>
                    </ul>
                </li>

                <li>
                    <a class="" href="/betweendateReport">
                        <i class="icon_genius"></i>
                        <span>Reports</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon_documents_alt"></i>
                        <span>Enquiry</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
                    <ul class="sub">
                        <li><a class="" href="/unread_Enquiry">Unread Enquiry</a></li>
                        <li><a class="" href="/read_Enquiry"><span>Read Enquiry</span></a></li>
                    </ul>
                </li>


                <li>
                    <a class="" href="/search">
                        <i class="icon_search"></i>
                        <span>Search</span>
                    </a>
                </li>

                <li>
                    <a class="" href="/regUser">
                        <i class="icon_profile"></i>
                        <span>Reg Users</span>
                    </a>
                </li>

                <li>
                    <a class="" href="/adminChangePassword">
                        <i class="icon_cogs"></i>
                        <span>Change Password</span>
                    </a>
                </li>

                <li>
                    <a class="" href="/logout">
                        <i class="icon_key_alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        {% block main %}
        {% endblock %}
    </section>
    <!-- container section start -->
</section>

<!-- javascripts -->
<script src="{% static 'js1/jquery.js' %}"></script>
<script src="{% static 'js1/jquery-ui-1.10.4.min.js' %}"></script>
<script src="{% static 'js1/jquery-1.8.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js1/jquery-ui-1.9.2.custom.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'js1/bootstrap.min.js' %}"></script>
<!-- nice scroll -->
<script src="{% static 'js1/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js1/jquery.nicescroll.js' %}" type="text/javascript"></script>
<!-- charts scripts -->
<script src="{% static 'assets1/jquery-knob/js/jquery.knob.js' %}"></script>
<script src="{% static 'js1/jquery.sparkline.js' %}" type="text/javascript"></script>
<script src="{% static 'assets1/jquery-easy-pie-chart/jquery.easy-pie-chart.js' %}"></script>
<script src="{% static 'js1/owl.carousel.js' %}"></script>
<!-- jQuery full calendar -->
<
<script src="{% static 'js1/fullcalendar.min.js' %}"></script>
<!-- Full Google Calendar - Calendar -->
<script src="{% static 'assets1/fullcalendar/fullcalendar/fullcalendar.js' %}"></script>
<!--script for this page only-->
<script src="{% static 'js1/calendar-custom.js' %}"></script>
<script src="{% static 'js1/jquery.rateit.min.js' %}"></script>
<!-- custom select -->
<script src="{% static 'js1/jquery.customSelect.min.js' %}"></script>
<script src="{% static 'js1assets1/chart-master/Chart.js' %}"></script>

<!--custome script for all page-->
<script src="{% static 'js1/scripts.js' %}"></script>
<!-- custom script for this page-->
<script src="{% static 'js1/sparkline-chart.js' %}"></script>
<script src="{% static 'js1/easy-pie-chart.js' %}"></script>
<script src="{% static 'js1/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'js1/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'js1/xcharts.min.js' %}"></script>
<script src="{% static 'js1/jquery.autosize.min.js' %}"></script>
<script src="{% static 'js1/jquery.placeholder.min.js' %}"></script>
<script src="{% static 'js1/gdp-data.js' %}"></script>
<script src="{% static 'js1/morris.min.js' %}"></script>
<script src="{% static 'js1/sparklines.js' %}"></script>
<script src="{% static 'js1/charts.js' %}"></script>
<script src="{% static 'js1/jquery.slimscroll.min.js' %}"></script>
<script>
      //knob
      $(function() {
        $(".knob").knob({
          'draw': function() {
            $(this.i).val(this.cv + '%')
          }
        })
      });

      //carousel
      $(document).ready(function() {
        $("#owl-slider").owlCarousel({
          navigation: true,
          slideSpeed: 300,
          paginationSpeed: 400,
          singleItem: true

        });
      });

      //custom select box

      $(function() {
        $('select.styled').customSelect();
      });

      /* ---------- Map ---------- */
      $(function() {
        $('#map').vectorMap({
          map: 'world_mill_en',
          series: {
            regions: [{
              values: gdpData,
              scale: ['#000', '#000'],
              normalizeFunction: 'polynomial'
            }]
          },
          backgroundColor: '#eef3f7',
          onLabelShow: function(e, el, code) {
            el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
          }
        });
      });


</script>
</body>
</html>
