{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Home Loan Management System - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/favicon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

        <div class="logo">
            <h1><a href="{% url 'index' %}">TAMS Home Loan</a></h1>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#team">Team</a></li>
                <li><a class="nav-link scrollto" href="#emiCal">EMI Calculator</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="nav-link scrollto" href="{% url 'adminlogin' %}">Admin Login</a></li>
                <li><a class="nav-link scrollto" href="{% url 'userlogin' %}">User Login</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

<!-- ======= hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url(static/assets/img/hero-carousel/1.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Home loan made easy, just for you </h2>
                            <p class="animate__animated animate__fadeInUp">Get a home loan as per your financial needs
                                and fulfill your dream of owning a home.</p>
                            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get
                                Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(static/assets/img/hero-carousel/2.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Home Loan at Attractive Interest
                                Rates</h2>
                            <p class="animate__animated animate__fadeInUp">Get home loan at lowest interest rates,
                                fulfill your dream of home.</p>
                            <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get
                                Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(static/assets/img/hero-carousel/3.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Tax benefits on home loan </h2>
                            <p class="animate__animated animate__fadeInUp">Deduction on repayment of principal amount of
                                home loan</p>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section><!-- End Hero Section -->

<main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="about-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>About Home Loan</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single-well start-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-left">
                        <div class="single-well">
                            <a href="#">
                                <img src="{% static 'assets/img/about/1.png' %}" alt="" style="
                                width: 650px;
                                height: 500px;">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- single-well end-->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="well-middle">
                        <div class="single-well">
                            <a href="#">
                                <h4 class="sec-head">Home Loan guide for first time buyers India</h4>
                            </a>
                            <p>
                                Home Loans offers a one stop solution to a home buyer. You can browse through our range
                                of home loan products, check your eligibility.
                            </p>
                            <ul>
                                <li>
                                    <i class="bi bi-check"></i> Indian citizens and NRIs
                                </li>
                                <li>
                                    <i class="bi bi-check"></i> Minimum entry age is 18 years and maximum exit age up to
                                    75 years.
                                </li>
                                <li>
                                    <i class="bi bi-check"></i> Individuals may apply singly or jointly with other
                                    eligible individuals.
                                </li>
                                <li>
                                    <i class="bi bi-check"></i> Loan eligibility depending on repayment capacity of the
                                    borrower and value of property
                                </li>
                                <li>
                                    <i class="bi bi-check"></i> Maximum loan amount for repairs/renovation is Rs.30
                                    lakh.
                                </li>
                                <li>
                                    <i class="bi bi-check"></i> Processing charges are 0.50% of loan amount subject to a
                                    maximum of Rs. 15000 plus GST
                                </li>
                                <li>
                                    <i class="bi bi-check"></i> Assess your financial situation to know how much you can afford to spend on a property.
                                </li>
                                <li>
                                    <i class="bi bi-check"></i> A good credit score improves your chances of loan approval.
                                </li>
                                <li>
                                    <i class="bi bi-check"></i> Get pre-approved for a loan to know your borrowing capacity before house hunting.
                                </li>
                                <li>
                                    <i class="bi bi-check"></i> Understand the terms and conditions of the loan agreement.
                                </li>
                                <li>
                                    <i class="bi bi-check"></i> Compare different lenders for interest rates and terms.
                                </li>
                                <li>
                                    <i class="bi bi-check"></i> Explore government schemes and subsidies for first-time home buyers.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End col-->
            </div>
        </div>
    </div><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <div id="services" class="services-area area-padding" style="background-color: #9be6f1" >
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline services-head text-center">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <!-- Start Left services -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="bi bi-briefcase"></i>
                                </a>
                                <h4>Regular Home Loan</h4>
                                <p>
                                    "THE MOST PREFERRED HOME LOAN PROVIDER" voted in AWAAZ Consumer Awards along with
                                    the MOST PREFERRED BANK AWARD.
                                </p>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="bi bi-card-checklist"></i>
                                </a>
                                <h4>Balance Transfer of Home Loan</h4>
                                <p>
                                    Balance Transfer of home loan that enables a customer to transfer home loan from
                                    Scheduled Commercial Banks (SCBs).
                                </p>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="bi bi-bar-chart"></i>
                                </a>
                                <h4>NRI Home Loan</h4>
                                <p>
                                    NRI Home Loan allows many NRIs (Non Resident Indians) to get home loans when
                                    investing in properties.
                                </p>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="bi bi-binoculars"></i>
                                </a>
                                <h4>Flexipay Home Loan</h4>
                                <p>
                                    Flexipay Home loan provides an eligibility for a higher loan amount exclusively for
                                    the salaried borrowers.
                                </p>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <!-- End Left services -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="bi bi-brightness-high"></i>
                                </a>
                                <h4>Privilege Home Loan</h4>
                                <p>
                                    Privilege Home Loan exclusively for government employees. Individuals who are
                                    employees of Central or State Government.
                                </p>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
                <!-- End Left services -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <!-- end col-md-4 -->
                    <div class=" about-move">
                        <div class="services-details">
                            <div class="single-services">
                                <a class="services-icon" href="#">
                                    <i class="bi bi-calendar4-week"></i>
                                </a>
                                <h4>24/7 Support</h4>
                                <p>
                                    will have to make sure the prototype looks finished by inserting text or photo.make
                                    sure the prototype looks finished by.
                                </p>
                            </div>
                        </div>
                        <!-- end about-details -->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Services Section -->

    <!-- ======= Team Section ======= -->
    <div id="team" class="our-team-area area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Our special Team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single-team-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="{% static 'assets/img/team/team-1.jpeg' %}" alt="">
                            </a>
                            <div class="team-social-icon text-center">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h4>Meghana Reddy</h4>
                            <p>Branch Manager</p>
                        </div>
                    </div>
                </div>
                <!-- End column -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single-team-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="{% static 'assets/img/team/team-2.jpeg' %}" alt="">
                            </a>
                            <div class="team-social-icon text-center">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h4>Sunny</h4>
                            <p>Branch Relationship Manager</p>
                        </div>
                    </div>
                </div>
                <!-- End column -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single-team-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="{% static 'assets/img/team/WhatsApp Image 2023-07-31 at 03.39.12.jpeg' %}" alt="">
                            </a>
                            <div class="team-social-icon text-center">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h4>Shri Vardhan Reddy</h4>
                            <p>Cashier</p>
                        </div>
                    </div>
                </div>
                <!-- End column -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single-team-member">
                        <div class="team-img">
                            <a href="#">
                                <img src="{% static 'assets/img/team/team-4.jpeg' %}" alt="">
                            </a>
                            <div class="team-social-icon text-center">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="bi bi-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="team-content text-center">
                            <h4>Afroz</h4>
                            <p>Executive Manager</p>
                        </div>
                    </div>
                </div>
                <!-- End column -->
            </div>
        </div>
    </div><!-- End Team Section -->

    <!-- ======= Blog Section ======= -->
    <div id="blog" class="blog-area">
        <div class="blog-inner area-padding">
            <div class="blog-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Inspiring stories and helpful information to build your best possible future.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start Left Blog -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-blog">
                            <div class="single-blog-img">
                                <a href="blog.html">
                                    <img src="{% static 'assets/img/blog/1.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="blog-meta">
                  <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">13 comments</a>
                  </span>
                                <span class="date-type">
                    <i class="fa fa-calendar"></i>2023-07-30 / 6 min Read
                  </span>
                            </div>
                            <div class="blog-text">
                                <h4>
                                    <a href="blog.html">SPEND</a>
                                </h4>
                                <p>
                                    7 things that are always worth splurging on and 3 things that never are
                                </p>
                            </div>
                            <span>
                  <a href="blog.html" class="ready-btn">Read more</a>
                </span>
                        </div>
                        <!-- Start single blog -->
                    </div>
                    <!-- End Left Blog-->
                    <!-- Start Left Blog -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-blog">
                            <div class="single-blog-img">
                                <a href="blog.html">
                                    <img src="{% static 'assets/img/blog/2.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="blog-meta">
                  <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">130 comments</a>
                  </span>
                                <span class="date-type">
                    <i class="fa fa-calendar"></i>2023-07-30 / 6 min Read
                  </span>
                            </div>
                            <div class="blog-text">
                                <h4>
                                    <a href="blog.html">SAVE</a>
                                </h4>
                                <p>
                                    Where to save? Money market accounts vs. savings accounts
                                </p>
                            </div>
                            <span>
                  <a href="blog.html" class="ready-btn">Read more</a>
                </span>
                        </div>
                        <!-- Start single blog -->
                    </div>
                    <!-- End Left Blog-->
                    <!-- Start Right Blog-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-blog">
                            <div class="single-blog-img">
                                <a href="blog.html">
                                    <img src="{% static 'assets/img/blog/3.jpg' %}" alt="">
                                </a>
                            </div>
                            <div class="blog-meta">
                  <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">10 comments</a>
                  </span>
                  <span class="date-type">
                    <i class="fa fa-calendar"></i>2023-07-30 / 5 min Read
                  </span>
                            </div>
                            <div class="blog-text">
                                <h4>
                                    <a href="blog.html">HOME</a>
                                </h4>
                                <p>
                                    Expert tips to set yourself up to become a homeowner
                                </p>
                            </div>
                            <span>
                  <a href="blog.html" class="ready-btn">Read more</a>
                </span>
                        </div>
                    </div>
                    <!-- End Right Blog-->
                </div>
            </div>
        </div>
    </div><!-- End Blog Section -->

    <!-- ======= Suscribe Section ======= -->
    <div class="suscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs=12">
                    <div class="suscribe-text text-center">
                        <h3>Welcome to our eBusiness company</h3>
                        <a class="sus-btn" href="#">Get A quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End Suscribe Section -->

    <!-- ========== EMI Calculator =========== -->

    <!-- ======= Contact Section ======= -->
    <div id="emiCal" class="contact-area">
        <div class="contact-inner area-padding">
            <div class="contact-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>EMI Calculator</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Start  EMI Calculator  -->

                    <div class="col-md-12">
                        
                        <div class="form contact-form">
                            <a href="#">
                                <img src="{% static 'assets/img/business-3d-thoughtful-businessman-with-calculator-coins-and-question-mark-behind.png' %}" alt="">
                            </a>
                            <form method="post" role="form" class="contact-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" id= "lamount" name="lamount" class="form-control" placeholder="Loan Amount" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" id = "lrate" name="lrate" class="form-control" placeholder="Interest  Rate. Ex: 5.2" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" id = "tenure" name="tenure" placeholder="Tenure in Year" maxlength="2" required>
                                </div>
                                 <div class="text-center">
                                    <button type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    {% if rate %}
                    <table class="table table-striped table-advance table-hover">
                        <tr>
                            <th colspan="4" style="font-size:22px; text-align:center;"> Loan Details</th>
                        </tr>

                        <tr>
                            <th>Loan Amount</th>
                            <td>{{lamount}}</td>
                            <th>Loan Interest</th>
                            <td>{{lrate}} %</td>
                        </tr>
                        <tr>
                            <th>Loan Tenure</th>
                            <td colspan="3">{{tenure}} Years</td>
                        </tr>

                        <tr>
                            <th>Total interest</th>
                            <td>{{simpleinterst}}</td>
                            <th>Total Payable Amount<br/>
                                Principle + Interest
                            </th>
                            <td>{{totalpayable}}</td>
                        </tr>

                        <tr>
                            <th>Monthly EMI</th>
                            <td>{{monthlyEmi}}</td>
                            <th>Total EMI Installments</th>
                            <td>{{time}}</td>
                        </tr>
                    </table>
                    {% endif %}
                    <!-- End Left contact -->
                </div>
            </div>
        </div>
    </div><!-- End Contact Section -->

    <!-- ========== End EMI Calculator ========= -->

    <!-- ======= Contact Section ======= -->
    <div id="contact" class="contact-area">
        <div class="contact-inner area-padding">
            <div class="contact-overly"></div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-headline text-center">
                            <h2>Contact us</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Start contact icon column -->
                    <div class="col-md-4">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="bi bi-phone"></i>
                                <p>
                                    Call: +91 1234 5678 90<br>
                                    <span>Monday-Friday (10am-6pm)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-4">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="bi bi-envelope"></i>
                                <p>
                                    Email: tamsbank3@gmail.com<br>
                                    <span>Web: www.abc.com</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Start contact icon column -->
                    <div class="col-md-4">
                        <div class="contact-icon text-center">
                            <div class="single-icon">
                                <i class="bi bi-geo-alt"></i>
                                <p>
                                    Location: Gachibowli<br>
                                    <span>TS 500032, INDIA</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- Start Google Map -->
                    <div class="col-md-6">
                        <!-- Start Map -->
                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.26360808984!2d78.35144777544488!3d17.447092683450375!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb939e6a6b6d6d%3A0x202f02db1f2e21c5!2sTalentSprint!5e0!3m2!1sen!2sin!4v1690731036941!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
                       <!-- End Map -->
                    </div>
                    <!-- End Google Map -->

                    <!-- Start  contact -->

                    {% if error == "no" %}
<script>
    alert('Your Message has been send Seccussfully');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong. Try Again...');
</script>
{% endif %}

                    <div class="col-md-6">
                        <div class="form contact-form">
                            <form method="post" role="form" class="contact-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="email" class="form-control" name="emailid" placeholder="Your Email" required>
                                </div>
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" name="contact" placeholder="Your Contact Number" required>
                                </div>

                                <div class="form-group mt-3">
                                    <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                                </div>

                                <div class="text-center">
                                    <button type="submit">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Left contact -->
                </div>
            </div>
        </div>
    </div><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <h2>Home Loan Management System</h2>
                            </div>

                            <p>A loan management system helps to sort out the repayments that are coming in. But it can do more. There are modular, scalable, and customizable components that organizations can use for complete automation.</p>
                            <div class="footer-icons">
                                <ul>
                                    <li>
                                        <a href="#"><i class="bi bi-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="bi bi-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>information</h4>
                            <p>
                                Our Loan Management System provides a centralized repository for all loan-related data, including applicant information, loan types and terms, processing records, collateral details, disbursements, and repayment history. With advanced tools for monitoring, risk assessment, and reporting, we ensure efficient loan processing and compliance while offering a seamless experience for our customers.
                            </p>
                            <div class="footer-contacts">
                                <p><span>Tel:</span> +91 1234 5678 90</p>
                                <p><span>Email:</span> tamsbank3@gmail.com</p>
                                <p><span>Working Hours:</span> 10am-6pm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-4">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Instagram</h4>
                            <div class="flicker-img">
                                <a href="#"><img src="{% static 'assets/img/portfolio/1.jpg' %}" alt=""></a>
                                <a href="#"><img src="{% static 'assets/img/portfolio/2.jpg' %}" alt=""></a>
                                <a href="#"><img src="{% static 'assets/img/portfolio/3.jpg' %}" alt=""></a>
                                <a href="#"><img src="{% static 'assets/img/portfolio/4.jpg' %}" alt=""></a>
                                <a href="#"><img src="{% static 'assets/img/portfolio/5.jpg' %}" alt=""></a>
                                <a href="#"><img src="{% static 'assets/img/portfolio/6.jpg' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="copyright text-center">
                        <p>
                            &copy; Copyright <strong>Home Loan Management System</strong>. All Rights Reserved
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer><!-- End  Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>



</body>

</html>