{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css1/loginstyle.css' %}">
  <title>Registration Form </title>
</head>
<body>
  <div class="login-wrapper">
    <form method="post" class="form">
        {% csrf_token %}
      <img src="{% static 'img/avatar.png' %}" alt="">
      <h2>Registration Page</h2>

      <div class="input-group">
        <input type="text" name="firstName" required>
        <label>First Name</label>
      </div>

      <div class="input-group">
        <input type="text" name="lastName" required>
        <label>Last Name</label>
      </div>

      <div class="input-group">
        <input type="number" name="MobileNumber" maxlength="10" required>
        <label>Mobile Number</label>
      </div>

      <div class="input-group">
        <input type="email" name="emailid" required>
        <label>Email Id</label>
      </div>

      <div class="input-group">
        <input type="password" name="password" required>
        <label>Password</label>
      </div>

      <input type="submit" value="Submit" class="submit-btn">
      <a href="{% url 'index' %}" class="forgot-pw">Back to Home</a>
    </form>
  </div>

{% if error == "no" %}
<script>
    alert('Registration Successfully');
    window.location=('{% url 'userlogin' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong. Try Again...');
</script>
{% endif %}

</body>
</html>
