{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css1/loginstyle.css' %}">
  <title>Login Form </title>
</head>
<body>

<a href="{% url 'index' %}" style = "position : absolute ; left : 10px ; top : 10px ; text-decoration : none ; color : red">Go Back To HomePage</a>

  <div class="login-wrapper">
    <form method="post" class="form">
        {% csrf_token %}
      <img src="{% static 'img/avatar.png' %}" alt="">
      <h2>User Login</h2>
      <div class="input-group">
        <input type="email" name="email" required>
        <label>Email ID</label>
      </div>
      <div class="input-group">
        <input type="password" name="password" required>
        <label>Password</label>
      </div>
      <input type="submit" value="Login" class="submit-btn">
      <a href="{% url 'signup' %}" class="forgot-pw">Click Here for Signup</a>
    </form>
  </div>

{% if error == "no" %}
<script>
    alert('Logged In Successfully');
    window.location=('{% url 'userDashboard' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert('Something went wrong. Try Again...');
</script>
{% endif %}

</body>
</html>
